@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-unset {
    text-align: unset;
  }
}
body{
  line-height:  1.31;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.smallScrollBar::-webkit-scrollbar {
  width: 15px;
}
.smallScrollBar::-webkit-scrollbar-track {
  --primary: rebeccapurple;
  background: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius:  5px;
}
.smallScrollBar::-webkit-scrollbar-track:hover {
  background: #4e4f50;
}
.smallScrollBar::-webkit-scrollbar-thumb {
  --secondary: cornflowerblue;
  --primary: rebeccapurple;
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
