@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-unset {
      text-align: unset;
    }
  }
}
body{
  line-height:  1.31;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}